# Project dependencies
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
.cache
node_modules/
yarn-error.log
.theia/
.gitpod.yml

# Build directory
/public/
/coverage/

# Created by https://www.toptal.com/developers/gitignore/api/visualstudiocode,react
# Edit at https://www.toptal.com/developers/gitignore?templates=visualstudiocode,react

### react ###
.DS_*
*.log
logs
**/*.backup.*
**/*.back.*

node_modules/

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

### VisualStudioCode Patch ###
# Ignore all local history of files
.history

### yarn ###
# https://yarnpkg.com/advanced/qa#which-files-should-be-gitignored

# .yarn/unplugged and .yarn/build-state.yml should likely always be ignored since
# they typically hold machine-specific build artifacts. Ignoring them might however
# prevent Zero-Installs from working (to prevent this, set enableScripts to false).
.yarn/unplugged
.yarn/build-state.yml

# .yarn/cache and .pnp.* may be safely ignored, but you'll need to run yarn install
# to regenerate them between each branch switch.
# Uncomment the following lines if you're not using Zero-Installs:
# .yarn/cache
# .pnp.*

### Environment Files ###

.env
.env.production
.env.development
.env.*